<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SSAppID</key>
	<string></string>
	<key>NSPhotoLibraryAddUsageDescription</key> 
	<string>App 需要获取您的相册写入权限，用于保存图片到相册</string>
	<key>NSPhotoLibraryUsageDescription</key> 
	<string>App 需要获取您的相册访问权限，用于发送图片评论</string>
	<key>NSCalendarsUsageDescription</key>
	<string>用于直播预约提醒能力</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>App 需要获取您的麦克风权限，用于连麦</string>
	<key>NSCameraUsageDescription</key> 
	<string>App 需要获取您的相机权限，用于连麦</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
</dict>
</plist>
